<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="image/university-solid.svg">
    <title>Egna Begna University</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <!-- CSS  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/footer Style.css">
    <link rel="stylesheet" href="./css/header-intro.css">
    <link rel="stylesheet" href="./css/responsive.css">
</head>
<body>
    <header>
        <div class="header-toolbar">
            <a class="logo" href="/"><i class="fa fa-university"></i></a>
            <a class="search-icon" href=""><i class="fa fa-search"></i></a>
            <a class= "btn login" href="/login">Login</a>
        </div>
<-- nav bar-->
        <div id="navbar" class="header-navbar">
            <p class="menu-bar" href="" ><i class="fa fa-bars" aria-hidden="true"></i></p>
            <a  class="home-icon" href="/"><i class="fa fa-home"></i></a>
            <ul class="nav-items">
                <li class="item"><a href="">About us<i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown">
                        <li class="dropdown-item">Why EBU?</li>
                        <li class="dropdown-item">History</li>
                        <li class="dropdown-item">Achievements</li>
                        <li class="dropdown-item">News</li>
                        <li class="dropdown-item">Throwbacks</li>
                    </ul>
                </li>
                <li class="item"><a href="">Programmes<i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown">
                        <li class="dropdown-item">Medicine</li>
                        <li class="dropdown-item">Engineering</li>
                        <li class="dropdown-item">Art</li>
                        <li class="dropdown-item">Law</li>
                        <li class="dropdown-item">Applied Science</li>
                    </ul>
                </li>
                <li class="item"><a href="">Life at campus<i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown">
                        <li class="dropdown-item">Campus Facilities</li>
                        <li class="dropdown-item">Students</li>
                        <li class="dropdown-item">Music and dance</li>
                        <li class="dropdown-item">Social</li>
                        <li class="dropdown-item">Sports</li>
                    </ul>
                </li>
                <li class="item"><a href="">Library<i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown">
                        <li class="dropdown-item">dropdown item</li>
                        <li class="dropdown-item">dropdown item</li>
                        <li class="dropdown-item">dropdown item</li>
                        <li class="dropdown-item">dropdown item</li>
                        <li class="dropdown-item">dropdown item</li>
                    </ul>
                </li>
                <li class="item"><a href="">Admission<i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown">
                        <li class="dropdown-item"><a>Admissions 2021</a> </li>
                        <li class="dropdown-item"><a href="/register">Apply online</a></li>
                        <li class="dropdown-item"><a>How to apply</a></li>
                        <li class="dropdown-item"><a> cholarships</a></li>
                        <li class="dropdown-item"><a>Requirements</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    
    <main>
        <div class="main-header" >
            <div class="header-1">
                <h1>Egna Begna University</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam ipsa iusto, laborum ut blanditiis, quas nostrum
                aspernatur nihil laudantium aliquam quaerat, similique eligendi cupiditate commodi.</p> 
                <a class="btn apply-btn">Apply now</a>
            </div>
        </div>
        <div class="main-body">
            <div class="main-section">
                <div class="section-description">
                    <h2>Upcoming events</h2>
                    <h3>23-July-2021</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam placeat atque cumque nisi exercitationem laboriosam non perferendis totam voluptatem, debitis ex. Iure pariatur perspiciatis voluptate repellat quas reprehenderit laboriosam dolores mollitia! Quas, praesentium saepe, eligendi earum molestiae temporibus rerum, quos suscipit unde beatae ratione nesciunt explicabo at eveniet eaque. Accusamus iusto quidem libero voluptatibus quam!</p>
                    <a class="btn learn-more-btn" href="">Learn more</a>
                </div>
                <div class="section-svg">
                    <!-- <img src="./svg/undraw_exams_g4ow.svg" alt=""> -->
                </div>
            </div>
            
            <div class="courses-section">
                <div class="section-description">
                    <h2>Our Courses</h2>
                    <br>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, natus alias! Illo.</p>
                </div>
                <div class="courses">
                    <div class="course"><div class="course1"></div> <a href="">Applied Sciences</a></div>
                    <div class="course"><div class="course2"></div> <a href="">Computer Sciences</a></div>
                    <div class="course"><div class="course3"></div> <a href="">Law</a></div>
                    <div class="course"><div class="course4"></div> <a href="">Medicine</a></div>
                </div>
                <div class="view-courses">
                    <a class="btn view-courses-btn" href="">View all courses</a>
                </div>
               
            </div>
            <div class="university-statistics">
                <div class="statistics-item">
                    <i class="fa fa-users"></i>
                    <h3>3000+</h3>
                    <h4>Students</h4>
                </div>
                <div class="statistics-item">
                    <i class="fa fa-user"></i>
                    <h3>70+</h3>
                    <h4>Professors</h4>
                </div>
                <div class="statistics-item">
                    <i class="fa fa-book"></i>
                    <h3>30+</h3>
                    <h4>Courses</h4>
                </div>
                <div class="statistics-item">
                    <i class="fa fa-globe"></i>
                    <h3>40+</h3>
                    <h4>Countries</h4>
                </div>
            </div>

            <div class="main-content">
                <h3><strong class="or">|</strong> COMPUS</h3>
                <div class="cards">
                    <div class="card tall-wide one">1</div>
                    <div class="card large1 two">2</div>
                    <div class="card tall-wide three">4</div>
                    <div class="card large2 four">6</div>
                </div>
            </div>
        </div>
        <!-- Testimonial -->
        <h2 class="sectionTitles"><strong class="or">|</strong> Testimonials</h2>
        <div class="testimonial-container">

            <a class="prev-button" onclick="changeSlide(-1)" >&#10094;</a>
            <div class="testimonial">
               <img src="./image/homepage-images/pexels-anastasiya-gepp-1462630.jpg" alt="Student-image">
               <div class="student-name"><strong class="or2">|</strong> Anastasiya Gepp </div>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus autem voluptatem error repudiandae maiores eveniet.</p>
           </div>
           <div class="testimonial">
                <img src="./image/homepage-images/pexels-andrea-piacquadio-3762800.jpg" alt="Student-image">
                <div class="student-name"> <strong class="or2">|</strong> Andrea Piacquadio </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis quam, eum qui obcaecati unde maiores laudantium deleniti doloremque adipisci ad!</p>
            </div>
            <div class="testimonial">
                <img src="./image/homepage-images/pexels-helmi-lutvyandi-3978518.jpg" alt="Student-image">
                <div class="student-name"> <strong class="or2">|</strong> Helmi Lutvyandi </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis eos earum veniam voluptas beatae aliquid ratione dolores nemo!</p>
            </div>
            <div class="testimonial">
                <img src="./image/homepage-images/pexels-nappy-935948.jpg" alt="Student-image">
                <div class="student-name"> <strong class="or2">|</strong> Nappy </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias fuga voluptas, obcaecati itaque dicta fugiat asperiores temporibus repudiandae totam expedita! Non atque, voluptates blanditiis quibusdam voluptas dolores facere incidunt veritatis.</p>
            </div>
            <a class="next-button" onclick="changeSlide(1)" >&#10095;</a>
        </div>
        <!-- Partner section -->
        <h2 class="sectionTitles"><strong class="or">|</strong> Partners</h2>
        <br>
        <div class="partners-container">
                <div class="partner"><img style="width: 80%;" src="./image/partner-1.jpg" alt=""></div>
                <div class="partner"><img style="width: 80%;" src="./image/partner-2.jpg" alt=""></div>
                <div class="partner"><img style="width: 80%;" src="./image/partner-3.jpg" alt=""></div>
                <div class="partner"><img style="width: 80%;" src="./image/partner-4.jpg" alt=""></div>
                <div class="partner"><img style="width: 80%;" src="./image/partner-5.jpg" alt=""></div>
                <div class="partner"><img style="width: 80%;" src="./image/partner-6.jpg" alt=""></div>
        </div>
    </main>
    
<!-- Footer start -->
<footer>
    <div class="footer-main">
        <div class="footer-item">
            <div class="footer-logo">
                 <a class="logo" href=""><i class="fa fa-university"></i></a>
            </div>
            
            <ul class="social-link">
                <li><a href="https://www.gmail.com"><i class="fa fa-envelope"></i></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-telegram"></i></a></li>
                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="footer-item">
            <h3>QUICK LINKS</h3>
            <ul>
                <li><a href="">Blog </a></li>
                <li><a href="">FAQs </a></li>
                <li><a href="">News </a></li>
                <li><a href="">Lorem </a></li>
                <li><a href="">Lorem </a></li>
                <li><a href="">Lorem </a></li>
            </ul>
        </div>
        <div class="footer-item">
            <h3>Contacts</h3>
            <ul>
                <li><a href="">Lorem ipsum </a></li>
                <li><a href="">Lorem ipsum </a></li>
                <li><a href="">Lorem ipsum </a></li>
                <li><a href="">Lorem ipsum </a></li>
                <li><a href="">Lorem ipsum </a></li>
                <li><a href="">Lorem ipsum </a></li>
            </ul>
        </div>
        <div class="footer-item">
            <h3>University</h3>
            <ul>
                <li><a href="">Lorem ipsum </a></li>
                <li><a href="">Lorem ipsum </a></li>
                <li><a href="">Lorem ipsum </a></li>
                <li><a href="">Lorem ipsum </a></li>
                <li><a href="">Lorem ipsum </a></li>
                <li><a href="">Lorem ipsum </a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>©copyright 2021</p>
    </div>
</footer>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>